body {
  margin: 0 auto;
  background-color: #7fffd4;
  margin-bottom: 100px;
}

.header-container {
  padding: 0px;
}

.nominations-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15pt;
  background-color: white;
  padding: 10px;
  border: 10px solid #EDB2D6;

}

.results-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15pt;
  background-color: white;
  padding: 10px;
  border: 10px solid #EDB2D6;
}

.search-container {
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.banner-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20pt;
  background-color: white;
  padding: 5px;
  border: 10px dotted #EDB2D6;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;;
  margin-bottom: 25px;
  justify-content: center;
}

.body-container {
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.header-pic {
  width: 100%;
}

.footer-pic {

}

.search-pic {
  display: block;
  height: 200px;
}

.search-form {
  width: 60%;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

input, select, textarea {
  font-size: 150%;
  }

.search-button {
  font-size: 13pt;
  width: 100px;
}

  li {
    margin: 0;
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;
    
    &:after {
      content: '';
      height: .4em;
      width: .4em;
      background: #D2153A;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: .25em;
      left: 0;
    }
    
  }
  